body{
	width:70%;
	margin: 0px auto;
	font-family: Helvetica, Arial, sans-serif;
}

.main-title{

	text-align: center;
	margin: 0px auto;
	font-size: 25px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 25px;



}

.non-link,.non-link:hover{
	display: block;
	color: #333;
	text-decoration: none;

}


.posts-container{
	margin: 0px auto;
	position: relative;

}


.posts-title{
	font-size: 24px;
	border-bottom: 3px solid #999;

}

.post-main-title{
	font-size: 35px;
	font-weight: bold;
	display: block;

}


.post-date{
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 16px;
	color: #aaa;

}

.post-content{
	position: absolute;

}

.input-title{
	display: block;
	width: 400px;
	height: 30px;



}

.error{

	color: red;
}