body{
	margin: 0px auto !important;




}

.blog_post_date{
	color:#999;


}

.blog-title{
	font-size: 35px;
	padding-top: 10px;
	text-decoration: none;
	text-align: center;
	color: #333 !important;
	margin: 0px auto;
}
h3{
	margin-bottom: 0px;
	display: inline;

}


.blog_contents{
	/*width:80%;
	margin-left: 10%;*/	
}

.blog_color{
	color: #333 !important;


}


.blog_post_title{
	font-weight: bold;
	border-bottom: 3px solid #333;
	margin-bottom: 1px;
	padding:0px ;

}

.blog_post{
	margin-top: 35px;

}
.post_title{
	font-size: 25px;

}

.blog_post_date{
	text-align: right;
	padding-top:15px;

}


.non_link,.non_link:hover{
	text-decoration: none ;
	display: block;
}



.input-text{
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 80%;
	height: 250px;
	resize:none;


}


.blog_text{

	white-space: pre-wrap !important; /* Mozilla, since 1999 */
	/*word-break: break-all;*/
	word-wrap: break-word;




}


label{
	display: block;
}

.error{

	color: red;
}

.input-title{
	width: 50%;
	height: 40px;


}

.footer{

	margin-top: 60px;
	width: 60%;
	margin-bottom: 60px;

}
.post-container{
	margin-top: 40px;
	
}
