{% extends "Blog/BlogMain.html" %}


{% block head %}
			<link rel="stylesheet" type="text/css" href="/stylesheets/BlogPosts.css">


			<title>MyTitle</title>

{% endblock %}


{% block body %}

					<div class="row">

						<div class="col-md-10 col-md-push-1 col-md-pull-1 art-small-wrapper">
								{% if content %}
									{% for post in content %}
										<div class="art-post">

										
											<div class="art-title">{{ post.title }}
											<form method="post"style="float:right;">
												<input type="hidden" name="target" value="deletePost">
												<input type="hidden" name="targetValue" value="{{ post.key.id() }}">
												<input type="submit" class="btn btn-danger" value="delete">
						 					</form>

											</div>

											<div class="art-content">{{ post.text }}</div>
											 
										</div>
									{% endfor %}
								{% endif %}
								<form method="post" class="art-post small-top-margin">
									<div class="art-title">
										<input name="subject" class="art-title-resizable">
									</div>

									<div class="art-content">
										<textarea name="content" class="art-write" name="toto"></textarea>
										<input  name="lolo" type="submit" value="GO" class="btn btn-lg btn-primary center-block center-text art-submiter">
									</div>

								</form>
								
						</div>

						</div>
					{% endblock %}					
