{% extends "Blog/BlogMain.html" %}



{% block head %}
	<link rel="stylesheet" type="text/css" href="/stylesheets/BlogLinks.css">
	<title>PageLinks</title>
{% endblock %}


{% block body %}
	<div class="col-md-10 col-md-pull-1 col-md-push-1">
		<div class="links-outer-container">

			<div class="links-inner-container">

				<a href="#" class="page-link">
					DA
				</a>

				<a href="#" class="page-link">
					order of pheonix
				</a>
				<form method="post">
					<input type="text">
					<input type="hidden" value="">

				</form>

			</div>



		</div>


	</div>


{% endblock %}
