{% extends "Blog/BlogMain.html" %}



{% block head %}
	<link rel="stylesheet" type="text/css" href="/stylesheets/BlogLinks.css">
	<title>PageLinks</title>
{% endblock %}


{% block body %}
	<div class="col-md-10 col-md-pull-1 col-md-push-1">
		{% if content.count() > 0 %}
			
			<div class="links-outer-container">

				<div class="links-inner-container">
					{% for link in content %}
						<div class="">
						<a href="/blog/{{ link.key.id() }}" class="page-link">{{ link.name }}
						
						{% set targetPurpose = "deleteLink" %}					
						{% set targetArgument = link.key.id() %}					
						{% include "Blog/delete_form.html" %}
					
						</a>
						
						 </div>
						{% endfor %}
					
				</div>
			
			</div>
		{% endif %}
		{% if is_user %}
			<form method="post">
				<input name="name" type="text">
				<input type="checkbox" checked="true" name="isLinkPage">
				<input type="submit" value="go" class="btn btn-lg btn-primary"> 					
			</form>
		{% endif %}


	</div>


{% endblock %}
