{% extends "Blog/BlogMain.html" %}



{% block head %}
	<link rel="stylesheet" type="text/css" href="/stylesheets/BlogLinks.css">
	<title>PageLinks</title>
{% endblock %}


{% block body %}
	<div class="col-md-10 col-md-pull-1 col-md-push-1">
		{% if content %}
			<div class="links-outer-container">

				<div class="links-inner-container">
					{% for link in content %}
						<div class="">
						<a href="/blog/{{ link.key.id() }}" class="page-link">{{ link.name }}
						<form method="post"style="float:right;">
							<input type="hidden" name="target" value="deleteLink">
							<input type="hidden" name="targetValue" value="{{ link.key.id() }}">
							<input type="submit" value="delete">
						 </form>
						</a>
						
						 </div>
						{% endfor %}
					
				</div>
			
			</div>
		{% endif %}
	
		<form method="post">
			<input name="name" type="text">
			<input type="checkbox" checked="true" name="isLinkPage">
			<input type="submit" value="go" class="btn btn-lg btn-primary"> 					
		</form>



	</div>


{% endblock %}
