.blog-title-header{
	
	background-color:#48f;
	width: 100%;
	height: 75px;




}

.blog-title-write{
	display: inline-block;
	color:  #FFD700;
	font-size: 30px;
	vertical-align: top;
	margin-top:20px ;
	}

