body{

	background-color: rgb(197, 255, 197);

}

.blog-white{
	background-color: white;
	
}


.blog-title-header{
	
	background-color:#48f;
	width: 100%;
	height: 75px;




}

.blog-title-write{
	display: inline-block;
	color:  #FFD700;
	font-size: 30px;
	vertical-align: top;
	margin-top:20px ;
	font-family: 'Droid Serif', serif;
}


.blog-page-title{
	font-size: 35px;
	margin-top: 45px;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;

}

.blog-clear-border{

	border: 1px solid red !important;

}

.blog-boxa{
	min-height: 300px;
	margin-top: 104px;
}


.brown-border{
	border: solid 4px rgb(210, 58, 58);
	background-color: rgb(195, 131, 131);
	padding:4px;
	border-radius: 7px;


}

.Blog-page-wrapper{
	min-height: 1000px;

}



