<!DOCTYPE html>

<html>

	<head>


		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.0/build/cssnormalize/cssnormalize-min.css">

		<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/BlogMain.css">

		<title>MyTitle</title>

	</head>

	<body>

		<div class="">
			<div class="blog-title-header">
					
				<img src="/imgs/t1.png" height="70px">
				<div class="blog-title-write"> My Trophy Cup </div>
				
			</div>

			<div class="container blog-white art-wrapper">
				
				<div class="center-block text-center blog-page-title">
					MainPage
				</div>					


				<div class="blog-boxa">
					

					<div class="row">

						<div class="col-md-10 col-md-push-1 col-md-pull-1 art-small-wrapper">

								
								<div class="art-post">
									<div class="art-title">Title</div>

									<div class="art-content">content</div> 
								</div>
							
								
								<form class="art-post small-top-margin">
									<div class="art-title">
										<input class="art-title-resizable">
									</div>

									<div class="art-content">
										<textarea class="art-write" name="toto"></textarea>
										<input  name="lolo" type="submit" value="GO" class="btn btn-lg btn-primary center-block center-text" style="border-radius:3px; margin-top:5px;">
									</div>

								</form>
								
						</div>

						</div>


				</div>


			</div>



		</div>



	</body>





</html>

